.strengthBar {
    display: flex;
    list-style: none;
    padding: 0;
    vertical-align: 2px;
    margin-top:5px;
}
  
.point:last-of-type {
    margin: 0 !important;
}
  
.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 100%;
}
  
.strength-msg {
    font-family: "DM Sans";
    font-size: 14px;
}
  