.TimeIntervalLegend {
    width      : 43px !important;
    font-size  : 14px;
    color      : #777;
    font-weight: 700;
}

.TimeIntervalLegend1 {
    width      : 80px !important;
    font-size  : 14px;
    color      : #777;
    font-weight: 700;
}