.titleHead {
  margin: 0;
  /* line-height: 1 !important; */
  line-height: 1.57142857 !important;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

table {
  td {
    padding: 5px !important;
    margin: 0;
    vertical-align: middle;
  }
}
