<div fxLayout="row wrap" class="h-100-p" style="background-image: url(assets/images/vodafone-background.jpg); background-size: cover;">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" style="height: calc(100% - 36px); position: relative;">
        <!-- <img class="loader" *ngIf="loading" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px"> -->

        <div class="w-314 h-388 pr-8 pl-8" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <img src="assets/images/vf-bz-logo.png" class="w-200 h-66" alt="Logo">

            <div class="w-100-p p-20 card text-center" style="height: calc(100% - 60px); position: relative;">
                <!-- <i class="fs-40 icofont-lock h-62"></i> -->
                <!-- <h4 class="fs-18 fw-600 mb-30 green-800">{{otpBox ? 'VERIFY OTP' : 'FORGOT PASSWORD'}}</h4> -->

                <ng-container class="p-20 text-center" *ngIf="emailLayoutSection">
                    <div class="font-size-40">
                        <img src="../../assets/images/new/otp.png" height="40px">
                    </div>
                    <div class="prompt fs-15 mb-20">
                        Enter valid email for reset password!
                    </div>
                    <form [formGroup]="emailForm" (ngSubmit)="onEmailSubmit(emailForm.value)">
                        <div class="form-group">
                            <input type="email" placeholder="Email" class="form-control" formControlName="email" />
                        </div>

                        <button type="submit" class="btn btn-danger btn-round1 btn-block theme-color" [disabled]="emailForm.invalid">
                            Next
                        </button>
                        <!-- <button type="button" class="btn btn-success btn-block mb-12" (click)="backToLogin()">Back to Login</button> -->

                    </form>
                </ng-container>

                <ng-container *ngIf="OTPVerficationLayoutSection">
                    <div class="font-size-40">
                        <img src="../../assets/images/new/otp.png" height="40px">
                    </div>

                    <div class="prompt font-size-15 margin-bottom-20" *ngIf="emailReturned == ''">
                        Enter the code sent on your email <br> and phone to verify
                    </div>

                    <div class="prompt font-size-15 margin-bottom-20" *ngIf="emailReturned != ''">
                        Enter the code sent on your email<br>
                        <b>{{emailReturned}}</b> and phone
                        <b>{{phoneReturned}}</b> to verfiy
                    </div>
                    <form [formGroup]="verifyForm" (ngSubmit)="onSubmitCode(verifyForm.value)">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="sr-only">MFA Code</label>
                                <input type="text" formControlName="mfaCode" placeholder="Email Code" class="form-control" maxlength="6"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">OTP Code</label>
                            <input type="text" formControlName="otpCode" placeholder="SMS Code" class="form-control" maxlength="6" />
                        </div>

                        <div class="clearfix margin-bottom-10">
                            <a class="pull-right" (click)="resendOTP()">Re-Send OTP</a>
                        </div>

                        <button class="margin-bottom-10" type="submit" class="btn btn-danger btn-block"
                            [disabled]="verifyForm.invalid">Enter
                            <span class="glyphicon glyphicon-refresh spinning"></span>
                        </button>
                        <!-- <button type="button" class="btn btn-success btn-block mb-12" (click)="backToLogin()">Back to Login</button> -->
                    </form>
                </ng-container>

            </div>
        </div>
    </div>
</div>