:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    align-items: flex-start;
}

app-sidebar {
    border-right: 1px solid #ccc;
    max-width: 220px;
    width: 100%;
}

.pg {
    flex: 1;
    background: #f0f0f0;
    overflow: auto;
}