.input-group-addon {
    padding: 9px 15px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #76838f;
    text-align: center;
    background-color: #f3f7f9;
    border: 1px solid #e4eaec;
    border-radius: 3px;
}

.input-group-addon {
    height: 36px!important;
    border-radius: 0!important;
}
