<div fxLayout="row wrap" class="h-100-p" style="background-image: url(assets/images/vodafone-background.jpg); background-size: cover;">

    <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" style="height: calc(100% - 36px); position: relative;">
        <!-- <img class="loader" src="/assets/images/block-loader.gif" alt="Loading" width="150px" height="150px"> -->

        <div class="w-314 h-420" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="8px">
            <img src="assets/images/vf-bz-logo.png" class="w-200 h-66" alt="Logo">

            <div class="w-100-p p-20 card text-center" style="height: calc(100% - 74px);">
                <!-- <ngb-progressbar *ngIf="loading" class="h-4 w-100-p" [striped]="true" [animated]="true" [value]="75" type="danger" mode="indeterminate" style="position: absolute; top: -1px; left: 0;"></ngb-progressbar> -->
                <i class="fs-40 icofont-lock h-62"></i>
                <h4 class="fs-18 fw-600 mb-16 green-800">CHANGE PASSWORD</h4>

                <form [formGroup]="resetPassowordForm" (ngSubmit)="onSubmitReset(resetPassowordForm.value)">
                 
                    <div class="form-group">
                        <div class="input-group mb-12">
                            <label class="sr-only">New Password</label>
                            <input [type]="show_newpassword ? 'text' : 'password'" formControlName="newPassword" class="form-control"
                                maxlength="50" placeholder="New Password" required id="new-password">
                            <span class="input-group-addon" id="new-pass" (click)="show_newpassword = !show_newpassword">
                                <i [class]="show_newpassword ? 'ri-eye-off-line' : 'ri-eye-line'"></i>
                            </span>
                        </div>
                        <app-password-strength [passwordToCheck]="resetPassowordForm.controls['newPassword'].value"
                            (passwordStrength)="passwordValid($event)">
                        </app-password-strength>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-12 mt-20">
                            <label class="sr-only">Confirm Password</label>
                            <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" maxlength="50" required
                                formControlName="confirmPassword" placeholder="Confirm Password" id="conf-password">
                            <span class="input-group-addon" id="conf-pass" (click)="showConfirmPassword = !showConfirmPassword">
                                <i [class]="showConfirmPassword ? 'ri-eye-off-line' : 'ri-eye-line'"></i>
                            </span>
                        </div>

                        <span class="text-danger fs-12" *ngIf="resetPassowordForm.getError('same')">
                            Choose a different password
                        </span>
                        <span class="text-danger fs-12" *ngIf="resetPassowordForm.getError('mismatch')">
                            <br *ngIf="resetPassowordForm.getError('same')">Password does not match
                        </span>
                    </div>

                    <button type="submit" class="btn btn-danger bg-theme btn-round1 theme-color" [disabled]="resetPassowordForm.invalid">
                        Reset Password
                    </button>

                    <!-- <button type="button" class="btn btn-danger bg-theme btn-round1 theme-color" (click)="skipForNow()">
                        Skip for now
                    </button> -->

                </form>
            </div>
        </div>
    </div>
</div>