.sign-in:hover {
    background-color: rgba(0, 0, 0, .1);
}

::ng-deep.dropdown-toggle::after {
    display:none;
}

::ng-deep .pnl .dropdown-menu {
    left: -218px;
    padding: 8px 8px;
    border-radius: 4px;
    min-width: 174px;
    min-height: 3rem;
    width: 272px !important;
}

::ng-deep .pnl2 .dropdown-menu  {
    left: -104px;
    padding: 8px 8px;
    border-radius: 4px;
    // min-width: 174px;
    min-height: 3rem;
    width: 67px !important;
}

.list-group-item:hover {
    background: #f3f7f9;
}
.viewed {
    background: transparent;
}
.unviewed {
    background: rgba(0, 0, 0, .05);
}

