<!-- <div class="login-bg" [hidden]="!loading">
  <div>
    <div style="height:100%; background-repeat: repeat; background-size: unset !important" class="pic"></div>
    <div class="spinner text-center">
      <img src="assets/images/red-loader.gif" height="100px">
    </div>
    <h4 style="color:#000; text-align: center !important;">Loading..</h4>
  </div>
</div>

<div [hidden]="loading">
  <ngx-loading-bar color="#fff" [includeSpinner]="false" [includeBar]="true">
  </ngx-loading-bar>
  <router-outlet></router-outlet>
</div> -->

<router-outlet></router-outlet>

<!-- <div style="display: grid; grid-template-columns: auto auto;  justify-content: space-around;">
  <canvas id="video-canvas" style="width: 45vw; margin: 2px"> </canvas>
  <canvas id="video-canvas1" style="width: 45vw; margin: 2px"> </canvas>
  <canvas id="video-canvas2" style="width: 45vw; margin: 2px"> </canvas>
  <canvas id="video-canvas3" style="width: 45vw; margin: 2px"> </canvas>
</div> -->