<div class="breadcrumb-box">
    <ol class="breadcrumb breadcrumb-arrow">
        <li><a>Admin Dashboard </a> </li>
    </ol>
</div>

<div class="page-container">
    <div class="row">
        <div class="col-lg-4">
            <span [routerLink]="'/ss/user-admin/cards-setting'" class="grey-700">
                <div class="p-15 bg-theme text-center round mb-30 pointer">
                    <div class="mb-10">
                        <img src="../../../../assets/images/icon-clients.png" alt="img" width="30"
                            style="color:#fff !important">
                    </div>
                    <span class="fs-16 white">Card Settings</span>
                </div>
            </span>
        </div>
        <div class="col-lg-4">
            <span [routerLink]="'/ss/user-admin/graphs-setting'" class="grey-700">
                <div class="p-15 bg-theme text-center round mb-30 pointer">
                    <div class="mb-10">
                        <img src="../../../../assets/images/graph-setting.png" alt="img" width="30"
                            style="color:#fff !important">
                    </div>
                    <span class=" fs-16 white">Graph Settings</span>
                </div>
            </span>
        </div>
    </div>
</div>