<!-- <div class="modal-content"> 
<app-dialog-header [title]="'Choose Format'" (signal)="onCloseModal($event)"></app-dialog-header>

<div class="modal-body">

    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="margin-bottom: 20px !important;">

                <div class="w-100-p btn-group btn-group-toggle">
                    <div class="btn-group p-0" ngbButtonLabel (click)="onDownload('xls')" role="group" style="border: 1px solid #e4eaec;">
                        <button type="button" ngbButton class="btn btn-outline btn-default">
                            <img src="assets/images/icon-xls.png" height="50">
                            <div class="fs-12">Download XLS</div>
                        </button>
                    </div>
                    <div class="btn-group p-0" ngbButtonLabel (click)="onDownload('pdf')" role="group" style="border: 1px solid #e4eaec;">
                        <button type="button" ngbButton class="btn btn-outline btn-default">
                            <img src="assets/images/icon-pdf.png" height="50">
                            <div class="fs-12">Download PDF</div>
                        </button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
 </div> -->