@font-face {
    font-family: 'Vodafone Rg';
    src: url('./fonts/VodafoneRg-Bold.woff2') format('woff2'), url('./fonts/VodafoneRg-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: 'Vodafone ExB';
    src: url('./fonts/VodafoneExB-Regular.woff2') format('woff2'), url('./fonts/VodafoneExB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Vodafone Rg';
    src: url('./fonts/VodafoneRg-Regular.woff2') format('woff2'), url('./fonts/VodafoneRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Vodafone Lt';
    src: url('./fonts/VodafoneLt-Regular.woff2') format('woff2'), url('./fonts/VodafoneLt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}